body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
}

.bottomRow {
  display: flex;
}

.sideBar {
  height: 95vh;
  max-width: 10vw;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBar a {
  text-decoration: none;
  color: inherit;
}

.currentPage {
  font-weight: bold;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.categories ul {
  margin-left: 2em;
  margin-right: 1em;
  padding: 0;
}

.settingsBar {
  height: 5vh;
  width: 100vw;
  background-color: #1A1A1A;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.settingsBarIcon {
  margin: 1vh;
  height: 3vh;
  width: auto;
}

.workspace {
  background-color: #000000;
  min-width: 90vw;
  height: 95vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.intake {
  max-width: 50%;
  display: flex;
}

.intake > div {
  background-color: #1A1A1A;
  margin-left: 1em;
  margin-top: 1em;
  padding: 1em;
}

.intakeHistory {
  padding: 1em;
  background-color: #1A1A1A;
  max-width: 50%;
  margin: 1em;
  height: 47.5vh;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
