body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}
p {
  color: #ffffff
}
.app {
  display: flex;
  flex-direction: column;
}
.bottomRow {
  display: flex;
}
.sideBar {
  height: 95vh;
  width: 20vw;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settingsBar {
  height: 5vh;
  width: 100vw;
  background-color: #1A1A1A;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.settingsBarIcon {
  margin: 1vh;
  height: 3vh;
  width: auto;
}
.workspace {
  background-color: #000000;
  width: 80vw;
  height: 95vh;
  overflow-y: auto;
}